html, body {
  margin: 0;
  background-color: #0b0f1a;
  height: 100%;
  font-family: smooch sans;
}

.bg-wrapper {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;

  overflow: hidden;
  min-height: 88dvh;
}



/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  backdrop-filter: blur(12px);
  background: rgba(10, 14, 25, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  z-index: 100;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 16px 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #e6eaff;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  position: relative;
  text-decoration: none;
  color: #cfd8ff;
  font-size: 1.5rem;
  transition: color 0.3s ease;
  
  
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #4da3ff;
  transition: width 0.3s ease;
}


.section-title p {
  position: relative; 
  display: inline-block; 
}
.section-title p::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background-color: rgb(220, 147, 10);
    transition: width 0.3s ease;
}





/* Hamburger */
.menu-toggle {
  display: none;
  font-size: 1.6rem;
  background: none;
  border: none;
  color: #e6eaff;
  cursor: pointer;
}

.hero {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  
}


.hero_banner{
  font-size: clamp(1.5rem,8vw,4rem);

  
}
.hero_p{
    font-size: clamp(1.5rem,1.5vw,4rem);
}
.hero_Btn{
    margin-top: 2rem;
}


/* Mobile */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    right: 0;
    background: rgba(10, 14, 25, 0.95);
    backdrop-filter: blur(10px);
    flex-direction: column;
    width: 200px;
    padding: 16px;
    gap: 16px;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }
}
@media (max-width: 480px) {
  /* .bg-wrapper {
    min-height: 60vh; 
  } */
   
}

@media (hover: hover) {
  .hero_Btn:hover{
    scale: 1.1;
    transition: 0.5s;
    
}
.section-title p:hover::after{
    width: 100%;
}

.nav-links a:hover {
  color: #ffffff;
  scale: 1.1;
  transition: 0.5s;
}

.nav-links a:hover::after {
  width: 100%;
}
}

