html, body {
  margin: 0;
  background-color: #0b0f1a;
  height: 100%;
  font-family: smooch sans;
  scroll-snap-type: y mandatory;
}

.bg-wrapper {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;

  overflow: hidden;
  height: 96.3dvh;
  scroll-snap-align: start;
}



/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(12px);
  background: rgba(10, 14, 25, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  z-index: 100;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 11px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #e6eaff;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  position: relative;
  text-decoration: none;
  color: #cfd8ff;
  font-size: 1.5rem;
  transition: color 0.3s ease;
  
  
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #4da3ff;
  transition: width 0.3s ease;
}


.section-title p {
  position: relative; 
  display: inline-block; 
}
.section-title p::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background-color: #4da3ff;
    transition: width 0.3s ease;
    
}





/* Hamburger */
.menu-toggle {
  display: none;
  font-size: 1.6rem;
  background: none;
  border: none;
  color: #e6eaff;
  cursor: pointer;
}

.hero {
  height: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  
}


.hero_banner{
  font-size: clamp(1.5rem,8vw,4rem);

  
}
.hero_p{
    font-size: clamp(1.5rem,1.5vw,4rem);
}
.hero_Btn{
    margin-top: 2rem;
}

.Track-S {
  background-image: url("trackbg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

 

  border-radius: 32px;

  overflow: hidden;
  height: 91vh;
  scroll-snap-align: start;
  
}

input{
  padding: 0.9vh;
  
}

.label{
  font-size: medium;
  padding-left: 0.5rem;
}

.side-barB,
.side-barc{
  grid-template-rows: auto;
}

.innerGR2-div{
  margin-bottom: 0.5rem;
}

#showResults{
  display: none;
}


.Col-Boxes{
  margin-top: 1vh;
  
}
.habitName{
  margin-top: 1vh;
}
.SpentON{
  opacity: 0;
}




/* Mobile */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    right: 0;
    background: rgba(10, 14, 25, 0.95);
    backdrop-filter: blur(10px);
    flex-direction: column;
    width: 200px;
    padding: 16px;
    gap: 16px;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }


}
@media (max-width: 480px) {
  .bg-wrapper {
    height: 96.3dvh; 
  }
  .side-barA{
    min-height: 96dvh;
    display: none;
  }
  /* .side-barB{
    display: none;
  } */

  .Track-S{
    height: 90dvh;
    
  }
  #showResults{
  display: block;
  }
  /* Outer container */
  #resultArea {
    width: 100dvh;
    padding: 10px;
    overflow-x: hidden;
    border-radius: 20px;
    height: 100dvh;
  }

  .side-barB {
    flex-direction: column;
    gap: 20px;
  }


  .innerGR1-div {
    width: 46%;
    height: 88dvh;
    flex-direction: column;
    gap: 10px;
    border-radius: 32px;
  }

  .timer-ttle{
    gap: 70px;
  }

  
  /* Timer boxes */
  .Timer-boxes {
    width: 20px;
    height: 60px;
  }

  #hours,
  #minutes,
  #seconds,
  #days {
    font-size: 2rem;
  }

  .Col-Boxes .flex-row {
    flex-direction: row;
    gap: 50px;
    align-items: center;
  }


  .habitName {
    width: 70%;
    font-size: 1.5rem;
  }



  .Col-Box{
    width: 105px;
    height: 105px;
    
  }

  .text-indic{
    font-size: 1.5rem;
    text-align: center;

  }
  

 


  .innerGR2-div {
    width: 44vh;
    height: 75dvh;
    overflow: hidden;
    
  }

  .flex-row > div.bg-red-400 {
    width: 80px !important;
    height: 60px !important;
    font-size: 1rem;
  }
 

  
   
}

@media (max-width: 390px) {
  .nav-container {
 
  padding: 8px 20px;
}
}

@media (hover: hover) {
  .hero_Btn:hover{
    scale: 1.1;
    transition: 0.5s;
    
}
.section-title p:hover::after{
    width: 100%;
}

.nav-links a:hover {
  color: #ffffff;
  scale: 1.1;
  transition: 0.5s;
}

.nav-links a:hover::after {
  width: 100%;
}
}

